{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container mx-auto">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-warning" role="alert">
    {% for message in messages %}
    {{ message}}
    <br>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% if  current_user.is_authenticated %}
  <h1 class="mb-4">Задачи</h1>

  <form method="POST" action="{{ url_for('tasks.index') }}" class="needs-validation col-md-8 offset-md-2 text-center" novalidate>
    {{ form.hidden_tag() }}
    <ul class="list-group">
      
      {% for task in tasks %}
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h4>№{{ task.id }} {{ task.name }}</h4>
            <p>{{ task.description }}</p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="list_task" value="{{ task.id }}">
              <label class="form-check-label" for="list_task">Выбрать</label>
            </div>
            {% if task.is_active==False %}
            <span class="badge bg-danger">Не выполнено</span>
            {% else %}
            <span class="badge bg-success">Завершено</span>
            {% endif %}
            <a href="/update/{{task.id}}" class="btn btn-outline-secondary">Отметить</a>
            <a href="/delete/{{task.id}}" class="btn btn-outline-success">Удалить</a>
          </div>
          <div class="col-md-4">
            <p class="text-end">{{ task.time }}</p>
            {% else %}

           
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="form-group mt-4">
      <label for="list_name">Название списка:</label>
      <input type="text" class="form-control" id="list_name" name="list_name" required>
      <div class="invalid-feedback">
        Пожалуйста, введите название списка.
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Создать список</button>
  </form>
  {% endif %}
</div>
{% endblock %}
