{% extends "base.html" %}

{% block content %}
  <h1>Списки задач</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      {% for todo_list in todo_lists %}
        <tr>
          <td>{{ todo_list.name }}</td>
          <td>
            <ul>
              {% for task in todo_list.tasks %}
                <li>{{ task.task_template.name }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}