{% extends 'base.html' %}

{% block title %}
Отчёты
{% endblock %}

{% block body %}

<div class="container">
  <h1>Твои выполненные задачи</h1>
  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://as2.ftcdn.net/v2/jpg/02/02/07/77/1000_F_202077713_T1JgtmK2gtgGXasMeGy2wQePxCzcuWyE.jpg" alt="twbs"
      width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Не забыть про посуду</h6>
        <p class="mb-0 opacity-75">Помыть посуду после гостей</p>
      </div>
      <small class="opacity-50 text-nowrap">13:22 02.03.2023</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://as2.ftcdn.net/v2/jpg/02/02/07/77/1000_F_202077713_T1JgtmK2gtgGXasMeGy2wQePxCzcuWyE.jpg" alt="twbs"
      width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Выгулять собаку</h6>
        <p class="mb-0 opacity-75">Взять с собой поводок</p>
      </div>
      <small class="opacity-50 text-nowrap">13:22 02.03.2023</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://as2.ftcdn.net/v2/jpg/02/02/07/77/1000_F_202077713_T1JgtmK2gtgGXasMeGy2wQePxCzcuWyE.jpg" alt="twbs"
      width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Сделать это</h6>
        <p class="mb-0 opacity-75">Описание этого</p>
      </div>
      <small class="opacity-50 text-nowrap">13:22 02.03.2023</small>
    </div>
  </a>
</div>
{% endblock %}