{% extends 'base.html' %}    

{% block title %}
Добавить задачу
{% endblock %}

{% block body %}


<div class="container">
    <h1>Добавить задачу</h1>
    
    <form method="POST" action="">


  
    {{ form.hidden_tag() }}
    
    {{ form.new_task.label }} {{ form.new_task(size=80) }}
    
    <p>{{ form.to_time.label }}<br>{{ form.to_time(class_="datetimepicker2") }}</p>
    <p>{{ form.to_date.label }}<br>{{ form.to_date(class_="datetimepicker2") }}</p>
    
    <input type="submit" value="Создать">
    </form>
</div>


{% endblock %}

